@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap');
:root{
    --cornav:#191970;
}
*{
    font-family: 'Nunito', sans-serif;
    padding: 0%;
    margin: 0%;

}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
h1, h2, h3{
    font-family: 'Asap', sans-serif;
}
.botao{
    color: white;
    background-color: #191970;
    font-size: .9em;
    padding: 10px 30px;
    border-radius: 3px;
}

.botao2{
    background-color: #f1f1f1;
    color: #1c1c1c;
    font-size: .9em;
    padding: 10px 30px;
    border-radius: 3px;
}

.botao:hover{
    background-color: #0b0b55;
}

.botao2:hover{
    background-color: #c7c7c7;
}

a{
    text-decoration: none;
}

a:hover{
    transform: translate(-3px, -3px);

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #191970;
    padding:10px;
}

nav > a{
    color: white;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Yellowtail', cursive;
}
nav ul{
    flex-direction: row;
    width: 70%;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    flex-direction: row;
    width: 70%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/26123832093213.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left ;
    background-attachment: fixed;
    color: white;
    text-align: center;
    
    height: 60vh;
    justify-content: center;
    
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    height: 60vh;
    width: 100vw;
}
 
aside p {
    text-align: justify;
    max-width: 1000px;
}

header h1{
    color: white;
    padding: 40px;
}
 header p{
    margin-bottom: 2em;

 }

 #sobre{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
 }

 #sobre h2{
    padding: 20px;
    color: white;
 }

 #sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
    text-align: justify;
 }

 #servicos{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: center;
    padding: 30px;
    
 }

 #servicos h2{
    text-align: center;
    width: 100%;}

 div.servicos{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 22px;
    border: 4px solid white;
    border-radius: 30px 90px;
 }

 #projetos{
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    background-color: #191970;
    border-radius: 8px;
 }

 .produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

 }

 ul#sites {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

ul#sites li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid rgba(255, 255, 255, 0.616);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.568)
}

ul#sites li#site1{
    background: url('../imagens/site1.jpeg');
    background-position: 50% 50%;
    background-size: 1092px 594px;
    background-color: white;
}
ul#sites li#site1:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#sites li#site2{
    background: url('../imagens/site2.jpeg');
    background-position: 50% 50%;
    background-size: 453px 509px;
    background-color: white;
}

ul#sites li#site2:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#sites li#site3{
    background: url('../imagens/site03.jpeg');
    background-position: 50% 50%;
    background-size: 809px 599px;
    background-color: white;
}

ul#sites li#site3:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#sites li#site4{
    background: url('../imagens/sitex.jpeg');
    background-position: 50% 50%;
    background-size: 893px 587px;
    background-color: white;
}

ul#sites li#site4:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#sites li#site5{
    background: url('../imagens/site4.jpeg');
    background-position: 50% 50%;
    background-size: 1269px 588px;
    background-color: white;
}

ul#sites li#site5:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}


ul#sites li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.342);
    font-size: 9pt;
    padding: 5px;
    border-radius: 5px;
}

ul#sites li span:hover{
    opacity: 1;

}


 #contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
 }

 #contato h2{
    color: black;
 }

 footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: white;
 }

 footer a {
    color: #00ffff;
    
 }
 #serviços{
    text-align: justify;
    padding: 20px;
 }
 
 ul#sites li:hover{
    -webkit-transform: scale(1.5);
    -webkit-transition: all .2s ease-in;
}
 @media screen and(max-width: 768px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    header{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #sobre{
        
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }


    #serviços {
        display: flex;
    flex-direction: column;
    align-items: center; 
    }

    #projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

